

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C2DED1;
  font-family: 'Open Sans', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #CDC2AE;
  border-radius: 5px;
  box-shadow: 5px 8px #888888
}

h1 {
  padding: 20px;
  color: #354259;
}

.field {
  padding: 25px;
}

.hidden {
  display: none;
}

.block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}