/* * {
  border: 1px solid red;
} */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C2DED1;
  font-family: 'Open Sans', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #CDC2AE;
  border-radius: 5px;
  box-shadow: 5px 8px #888888
}

h1 {
  padding: 20px 15px 10px 15px;
  color: #354259;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 5px;
}

.send {
  margin-top: 20px;
  align-self: center;
}

.hidden {
  display: none;
}

button {
  border-radius: 5px;
  border: 1px solid #354259;
  background-color: #ECE5C7;
}

.block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}